In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn import metrics
import regex as re
import wranglerer as wr

In [2]:
df = pd.read_csv('anonymized-curriculum-access.txt',delimiter=' ',header=None)
column_names = ['date', 'time', 'page', 'user', 'cohort','ip']
df.columns =column_names

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900223 entries, 0 to 900222
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    900223 non-null  object
 1   time    900223 non-null  object
 2   page    900222 non-null  object
 3   user    900223 non-null  int64
 4   cohort  847330 non-null  float64
 5   ip      900223 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 41.2+ MB

In [4]:
df['timestamp'] = df.date + ' ' + df.time

In [5]:
df.head()

,date,time,page,user,cohort,ip,timestamp
0,2018-01-26,09:55:03,/,1,8.0,97.105.19.61,2018-01-26 09:55:03
1,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61,2018-01-26 09:56:02
2,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61,2018-01-26 09:56:05
3,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61,2018-01-26 09:56:06
4,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61,2018-01-26 09:56:24

In [6]:
df = df.set_index('timestamp')

In [7]:
df.head()

,date,time,page,user,cohort,ip
timestamp,,,,,,
2018-01-26 09:55:03,2018-01-26,09:55:03,/,1,8.0,97.105.19.61
2018-01-26 09:56:02,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61
2018-01-26 09:56:05,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61
2018-01-26 09:56:06,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61
2018-01-26 09:56:24,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61

In [8]:
df = df.drop(columns=['date','time'])

In [9]:
df.head()

,page,user,cohort,ip
timestamp,,,,
2018-01-26 09:55:03,/,1,8.0,97.105.19.61
2018-01-26 09:56:02,java-ii,1,8.0,97.105.19.61
2018-01-26 09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61
2018-01-26 09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61
2018-01-26 09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61

In [10]:
df['user'] = df.user.astype('str')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 900223 entries, 2018-01-26 09:55:03 to 2021-04-21 16:44:39
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   page    900222 non-null  object
 1   user    900223 non-null  object
 2   cohort  847330 non-null  float64
 3   ip      900223 non-null  object
dtypes: float64(1), object(3)
memory usage: 34.3+ MB

In [12]:
df.cohort.fillna(1001,inplace=True)

In [13]:
df['cohort'] = df.cohort.astype('int').astype('str')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 900223 entries, 2018-01-26 09:55:03 to 2021-04-21 16:44:39
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   page    900222 non-null  object
 1   user    900223 non-null  object
 2   cohort  900223 non-null  object
 3   ip      900223 non-null  object
dtypes: object(4)
memory usage: 34.3+ MB

In [15]:
df.shape

(900223, 4)

In [16]:
wr.summarize(df)

SUMMARY REPORT
=====================================================


Dataframe head:
                                                    page user cohort  \
timestamp
2018-01-26 09:55:03                                    /    1      8
2018-01-26 09:56:02                              java-ii    1      8
2018-01-26 09:56:05  java-ii/object-oriented-programming    1      8
2018-01-26 09:56:06   slides/object_oriented_programming    1      8
2018-01-26 09:56:24            javascript-i/conditionals    2     22

                               ip
timestamp
2018-01-26 09:55:03  97.105.19.61
2018-01-26 09:56:02  97.105.19.61
2018-01-26 09:56:05  97.105.19.61
2018-01-26 09:56:06  97.105.19.61
2018-01-26 09:56:24  97.105.19.61
=====================================================


Dataframe info:
<class 'pandas.core.frame.DataFrame'>
Index: 900223 entries, 2018-01-26 09:55:03 to 2021-04-21 16:44:39
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   page    900222 non-null  object
 1   user    900223 non-null  object
 2   cohort  900223 non-null  object
 3   ip      900223 non-null  object
dtypes: object(4)
memory usage: 34.3+ MB
None
=====================================================


Dataframe Description:
          page    user  cohort            ip
count   900222  900223  900223        900223
unique    2313     981      48          5531
top          /      11      28  97.105.19.58
freq     50313   17913   84031        284579
=====================================================
DataFrame value counts:
/                                                               50313
search/search_index.json                                        19519
javascript-i                                                    18983
toc                                                             18297
java-iii                                                        13733
                                                                ...
javascript/loops                                                    1
content/control-structures-ii                                       1
javascript-ii/promisesdfghjkjhgfs                                   1
app                                                                 1
appendix/professional-development/post-interview-review-form        1
Name: page, Length: 2313, dtype: int64

11     17913
64     16347
53     12329
314     7783
1       7404
       ...
66         1
163        1
918        1
212        1
952        1
Name: user, Length: 981, dtype: int64

28      84031
1001    52893
33      40730
29      38096
62      37109
53      36902
24      35636
57      33844
56      33568
51      32888
59      32015
22      30926
58      29855
32      29356
23      28534
52      28033
26      27749
34      26538
25      25586
31      25359
132     23691
55      21582
27      20743
61      17713
134     16623
135     16397
133     14715
14       9587
1        8890
137      8562
21       7444
138      7276
17       4954
13       2845
18       2158
8        1712
139      1672
19       1237
16        755
15        691
7         598
12        302
11        253
2          93
6          72
9           5
4           4
5           1
Name: cohort, dtype: int64

97.105.19.58       284579
97.105.19.61        61662
192.171.117.210      9515
71.150.217.33        6791
76.185.145.231       4754
                    ...
172.58.109.140          1
99.203.213.59           1
99.203.212.173          1
173.239.198.246         1
72.181.124.244          1
Name: ip, Length: 5531, dtype: int64

=====================================================
nulls in dataframe by column:
        num_rows_missing  percent_rows_missing
page                   1              0.000111
user                   0              0.000000
cohort                 0              0.000000
ip                     0              0.000000
=====================================================
nulls in dataframe by row:
                     num_cols_missing  percent_cols_missing
timestamp
2020-04-08 09:25:18                 1                  25.0
2020-04-08 09:25:18                 1                  25.0
2018-01-26 09:55:03                 0                   0.0
2020-07-22 21:23:26                 0                   0.0
2020-07-22 21:28:31                 0                   0.0
...                               ...                   ...
2019-07-31 09:01:55                 0                   0.0
2019-07-31 09:01:55                 0                   0.0
2019-07-31 09:01:55                 0                   0.0
2019-07-31 09:01:55                 0                   0.0
2021-04-21 16:44:39                 0                   0.0

[1010775 rows x 2 columns]
=====================================================

In [17]:
page_df = pd.DataFrame(df.page.value_counts(dropna=False)).reset_index().\
                rename(columns={'index': 'page', 'page': 'count'})

page_df2 = pd.DataFrame((df.page.value_counts(dropna=False))/df.page.count()).reset_index().\
                rename(columns={'index': 'page', 'page': 'proba'})

page_df = page_df.merge(page_df2, on='page')
page_df

                                                   page  count     proba
0                                                     /  50313  0.055890
1                              search/search_index.json  19519  0.021682
2                                          javascript-i  18983  0.021087
3                                                   toc  18297  0.020325
4                                              java-iii  13733  0.015255
...                                                 ...    ...       ...
2309               12-distributed-ml/6.1-prepare-part-1      1  0.000001
2310               12-distributed-ml/6.4-prepare-part-4      1  0.000001
2311                                           4-python      1  0.000001
2312                                  4-python/overview      1  0.000001
2313  appendix/professional-development/post-intervi...      1  0.000001

[2314 rows x 3 columns]

In [18]:
user_df = pd.DataFrame(df.user.value_counts(dropna=False)).reset_index().\
                rename(columns={'index': 'user', 'user': 'count'})

user_df2 = pd.DataFrame((df.user.value_counts(dropna=False))/df.user.count()).reset_index().\
                rename(columns={'index': 'user', 'user': 'proba'})

user_df = user_df.merge(user_df2, on='user')
user_df

    user  count     proba
0     11  17913  0.019898
1     64  16347  0.018159
2     53  12329  0.013695
3    314   7783  0.008646
4      1   7404  0.008225
..   ...    ...       ...
976   66      1  0.000001
977  163      1  0.000001
978  918      1  0.000001
979  212      1  0.000001
980  952      1  0.000001

[981 rows x 3 columns]

In [19]:
cohort_df = pd.DataFrame(df.cohort.value_counts(dropna=False)).reset_index().\
                rename(columns={'index': 'cohort', 'cohort': 'count'})

cohort_df2 = pd.DataFrame((df.cohort.value_counts(dropna=False))/df.cohort.count()).reset_index().\
                rename(columns={'index': 'cohort', 'cohort': 'proba'})

cohort_df = cohort_df.merge(cohort_df2, on='cohort')
cohort_df

   cohort  count     proba
0      28  84031  0.093345
1    1001  52893  0.058755
2      33  40730  0.045244
3      29  38096  0.042318
4      62  37109  0.041222
5      53  36902  0.040992
6      24  35636  0.039586
7      57  33844  0.037595
8      56  33568  0.037289
9      51  32888  0.036533
10     59  32015  0.035563
11     22  30926  0.034354
12     58  29855  0.033164
13     32  29356  0.032610
14     23  28534  0.031697
15     52  28033  0.031140
16     26  27749  0.030825
17     34  26538  0.029479
18     25  25586  0.028422
19     31  25359  0.028170
20    132  23691  0.026317
21     55  21582  0.023974
22     27  20743  0.023042
23     61  17713  0.019676
24    134  16623  0.018465
25    135  16397  0.018214
26    133  14715  0.016346
27     14   9587  0.010650
28      1   8890  0.009875
29    137   8562  0.009511
30     21   7444  0.008269
31    138   7276  0.008082
32     17   4954  0.005503
33     13   2845  0.003160
34     18   2158  0.002397
35      8   1712  0.001902
36    139   1672  0.001857
37     19   1237  0.001374
38     16    755  0.000839
39     15    691  0.000768
40      7    598  0.000664
41     12    302  0.000335
42     11    253  0.000281
43      2     93  0.000103
44      6     72  0.000080
45      9      5  0.000006
46      4      4  0.000004
47      5      1  0.000001

In [20]:
ip_df = pd.DataFrame(df.ip.value_counts(dropna=False)).reset_index().\
                rename(columns={'index': 'ip', 'ip': 'count'})

ip_df2 = pd.DataFrame((df.ip.value_counts(dropna=False))/df.ip.count()).reset_index().\
                rename(columns={'index': 'ip', 'ip': 'proba'})

ip_df = ip_df.merge(ip_df2, on='ip')
ip_df

                   ip   count     proba
0        97.105.19.58  284579  0.316121
1        97.105.19.61   61662  0.068496
2     192.171.117.210    9515  0.010570
3       71.150.217.33    6791  0.007544
4      76.185.145.231    4754  0.005281
...               ...     ...       ...
5526   172.58.109.140       1  0.000001
5527    99.203.213.59       1  0.000001
5528   99.203.212.173       1  0.000001
5529  173.239.198.246       1  0.000001
5530   72.181.124.244       1  0.000001

[5531 rows x 3 columns]

In [21]:
df.groupby(['user', 'cohort']).size()

user  cohort
1     28        5787
      8         1617
10    21         922
100   1001        59
101   12         224
                ...
979   139        127
98    14          91
980   28           3
981   138         42
99    22         796
Length: 1030, dtype: int64

In [22]:
p_a_and_b = df.groupby(['user', 'cohort']).size()/len(df)

In [23]:
p_a_and_b

user  cohort
1     28        0.006428
      8         0.001796
10    21        0.001024
100   1001      0.000066
101   12        0.000249
                  ...
979   139       0.000141
98    14        0.000101
980   28        0.000003
981   138       0.000047
99    22        0.000884
Length: 1030, dtype: float64

In [24]:
p_b = df.groupby('user').size()/len(df)

In [25]:
p_b

user
1      0.008225
10     0.001024
100    0.000066
101    0.000249
102    0.000089
         ...
979    0.000141
98     0.000101
980    0.000003
981    0.000047
99     0.000884
Length: 981, dtype: float64

In [26]:
p_a_and_b / p_b

user  cohort
1     28        0.781605
      8         0.218395
10    21        1.000000
100   1001      1.000000
101   12        1.000000
                  ...
979   139       1.000000
98    14        1.000000
980   28        1.000000
981   138       1.000000
99    22        1.000000
Length: 1030, dtype: float64

In [27]:
# Given a particular user, what is probability of a certain cohort
cohort_given_user = (
    df.groupby('user')\
    .cohort.value_counts(normalize=True)\
    .rename('proba_cohort_given_user')\
    .reset_index())
cohort_given_user

     user cohort  proba_cohort_given_user
0       1     28                 0.781605
1       1      8                 0.218395
2      10     21                 1.000000
3     100   1001                 1.000000
4     101     12                 1.000000
...   ...    ...                      ...
1025  979    139                 1.000000
1026   98     14                 1.000000
1027  980     28                 1.000000
1028  981    138                 1.000000
1029   99     22                 1.000000

[1030 rows x 3 columns]

In [28]:
cohort_given_user[cohort_given_user.proba_cohort_given_user < 1]

    user cohort  proba_cohort_given_user
0      1     28                 0.781605
1      1      8                 0.218395
13    11     28                 0.847318
14    11      1                 0.152682
23   118     23                 0.969856
..   ...    ...                      ...
912   88   1001                 0.419072
913   88     12                 0.012547
914   88     11                 0.007528
931  895    137                 0.983784
932  895    138                 0.016216

[92 rows x 3 columns]

In [29]:
df[df.user == '88'].sort_values(by='cohort', ascending=False)

,page,user,cohort,ip
timestamp,,,,
2021-01-29 23:32:35,content/html-css,88,7,136.50.6.131
2019-04-15 13:01:32,content/php_ii,88,7,66.90.173.188
2019-04-15 13:08:29,content/php_iv/php-with-mysql,88,7,66.90.173.188
2019-04-15 13:02:14,content/php_iv/php-with-mysql/connect-to-db.html,88,7,66.90.173.188
2019-04-15 13:02:10,content/php_iv/php-with-mysql/prepared-stateme...,88,7,66.90.173.188
...,...,...,...,...
2019-07-22 13:07:58,3-sql/1-mysql-overview,88,1001,173.173.127.101
2019-07-22 13:07:57,1-fundamentals/1-fundamentals-overview,88,1001,173.173.127.101
2019-07-22 13:07:49,2-stats/3.1-descriptive-stats,88,1001,173.173.127.101
2019-07-22 13:07:46,2-stats/2.4-visualization-with-excel,88,1001,173.173.127.101
2019-07-01 14:29:01,2.02.02_Sampling,88,1001,173.173.127.101

In [33]:
df[df.user == '88'].groupby('cohort').size()

cohort
1001    334
11        6
12       10
7       447
dtype: int64

In [34]:
df = df.reset_index().merge(cohort_given_user, on=['user', 'cohort'], 
                            how='left').fillna(value=0).set_index('timestamp')

In [42]:
df[df.proba_cohort_given_user < 0.005]

,page,user,cohort,ip,proba_cohort_given_user
timestamp,,,,,
2020-01-18 09:52:57,html-css/css-i/box-model,64,1001,12.106.208.194,0.001529
2020-01-18 09:52:58,/,64,1001,12.106.208.194,0.001529
2020-01-18 09:53:00,html-css/css-i/box-model,64,1001,12.106.208.194,0.001529
2020-01-18 09:55:43,/,64,1001,12.106.208.194,0.001529
2020-01-18 09:55:44,html-css/css-i/box-model,64,1001,12.106.208.194,0.001529
2020-01-18 09:57:15,html-css/css-i/box-model,64,1001,12.106.208.194,0.001529
2020-01-18 09:57:16,/,64,1001,12.106.208.194,0.001529
2020-01-18 09:58:08,html-css/css-i/box-model,64,1001,12.106.208.194,0.001529
2020-01-18 09:58:12,html-css/css-i/box-model,64,1001,12.106.208.194,0.001529
2020-01-18 09:58:53,html-css/css-i/box-model,64,1001,12.106.208.194,0.001529
2020-01-18 09:58:55,/,64,1001,12.106.208.194,0.001529
2020-01-18 09:58:59,/,64,1001,12.106.208.194,0.001529
2020-01-18 09:59:00,/,64,1001,12.106.208.194,0.001529
2020-01-18 09:59:05,appendix,64,1001,12.106.208.194,0.001529
2020-01-18 10:18:38,/,64,1001,12.106.208.194,0.001529
2020-01-18 10:28:55,slides,64,1001,12.106.208.194,0.001529
2020-01-18 10:29:09,slides,64,1001,12.106.208.194,0.001529
2020-01-18 16:02:56,/,64,1001,76.187.118.255,0.001529
2020-01-18 16:03:01,/,64,1001,76.187.118.255,0.001529
2020-01-18 16:03:12,mysql,64,1001,76.187.118.255,0.001529
2020-01-18 16:03:22,1-fundamentals/1.3-pipeline-demo,64,1001,76.187.118.255,0.001529
2020-01-18 16:03:23,1-fundamentals/1.3-pipeline-demo,64,1001,76.187.118.255,0.001529
2020-01-18 16:03:25,/,64,1001,76.187.118.255,0.001529
2020-01-18 16:03:25,/,64,1001,76.187.118.255,0.001529
2020-01-18 16:03:26,mysql,64,1001,76.187.118.255,0.001529
2020-01-18 16:03:57,mysql,64,52,76.187.118.255,0.001529
2020-01-18 16:03:58,/,64,52,76.187.118.255,0.001529
2020-01-18 16:04:00,1-fundamentals/1.3-pipeline-demo,64,52,76.187.118.255,0.001529
2020-01-18 16:04:01,/,64,52,76.187.118.255,0.001529
2020-01-18 16:04:09,/,64,52,76.187.118.255,0.001529
2020-01-18 16:04:10,mysql,64,52,76.187.118.255,0.001529
2020-01-18 16:04:11,1-fundamentals/1.3-pipeline-demo,64,52,76.187.118.255,0.001529
2020-01-18 16:04:12,/,64,52,76.187.118.255,0.001529
2020-01-18 16:04:18,/,64,52,76.187.118.255,0.001529
2020-01-18 16:04:23,1-fundamentals/1.3-pipeline-demo,64,52,76.187.118.255,0.001529
2020-01-18 16:04:28,/,64,52,76.187.118.255,0.001529
2020-01-18 16:04:33,mysql,64,52,76.187.118.255,0.001529
2020-01-18 16:05:26,/,64,52,76.187.118.255,0.001529
2020-01-18 16:05:27,1-fundamentals/1.3-pipeline-demo,64,52,76.187.118.255,0.001529
2020-01-18 16:05:30,mysql,64,52,76.187.118.255,0.001529
2020-01-18 16:12:44,teams,64,52,76.187.118.255,0.001529
2020-01-20 12:03:13,/,64,52,76.187.118.255,0.001529
2020-01-20 12:03:15,toc,64,52,76.187.118.255,0.001529
2020-01-20 12:03:16,toc,64,52,76.187.118.255,0.001529
2020-01-20 12:15:38,/,64,52,76.187.118.255,0.001529
2020-01-21 09:36:58,/,64,52,12.106.208.194,0.001529
2020-01-21 09:37:00,mysql,64,52,12.106.208.194,0.001529
2020-01-21 09:37:01,java-iii,64,52,12.106.208.194,0.001529
2020-01-21 09:37:03,spring,64,52,12.106.208.194,0.001529
2020-01-21 09:37:12,spring/fundamentals/views,64,52,12.106.208.194,0.001529
2020-08-05 11:10:57,/,644,1001,66.25.163.122,0.003586
2020-08-05 11:11:02,toc,644,1001,66.25.163.122,0.003586
2020-08-05 11:11:07,html-css,644,1001,66.25.163.122,0.003586
2020-08-05 12:31:08,html-css/introduction,644,1001,66.25.163.122,0.003586
2020-08-05 12:31:20,html-css/forms,644,1001,66.25.163.122,0.003586
2020-08-05 12:31:23,html-css/css-ii/bootstrap-introduction,644,1001,66.25.163.122,0.003586